body {
    background-color: #494949;
    font-size: 16px;
    display: column;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #000000;
  text-align: left;
  padding: 8px;
}

#ACTA-DE-SERVICIOS-PG1 {
    max-width: calc(827px - 70px);
    /* max-height: calc(1054px - 20px); */
    background-color: rgb(255, 255, 255);
    padding: 10px 35px;
    margin-bottom: 20px;
}

#cabecera th, #cabecera td{
    text-align: center;
    font-size: 12px;
}

.img-field img{
    margin-right: -20px;
}

#orden-de-servicio {
    margin-top: 50px;
}

.title {
    text-align: center;
    font-weight: bolder;
}

.sub-title {
    font-weight: bolder;
}

.left-field {
    width: 160px;
}

#text-field {
    height: 550px;
}

#line {
    margin-top: 20px;
    width: 700px;
}

.footer-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#evidencias-field {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: 100px;
    justify-content: center;
}

#evidencias-field img {
    width: 200px;
    height: 100px;
}

#ACTA-DE-SERVICIOS-PG2 {
    max-width: calc(827px - 70px);
    /* max-height: calc(1054px - 20px); */
    background-color: rgb(255, 255, 255);
    padding: 10px 35px;
    margin-bottom: 20px;
}

#ACTA-DE-SERVICIOS-PG2 #cuerpo {
    margin-top: 50px;
}

#ACTA-DE-SERVICIOS-PG3 {
    max-width: calc(827px - 70px);
    /* max-height: calc(1054px - 20px); */
    background-color: rgb(255, 255, 255);
    padding: 10px 35px;
}

#ACTA-DE-SERVICIOS-PG3 #cuerpo {
    margin-top: 50px;
}