body {
    display: flex;
    justify-content: center;
}

.form-container {
    width: 400px;
    background-color: rgb(230, 230, 230);
    padding: 20px;
}

.img-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    width: 100%;
}

.img-container img {
    width: 200px;
    height: 100px;
}

.table {
    background-color: rgb(255, 255, 255);
    font-size: 11px;
}

.check-input-field input{
    align-items: center;
    margin-left: 10px;
}