body {
    display: flex;
    justify-content: center;
}

.form-container {
    width: 400px;
    background-color: rgb(230, 230, 230);
    padding: 20px;
}

.img-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    width: 100%;
}

.img-container img {
    width: 200px;
    height: 100px;
}

.table {
    background-color: rgb(255, 255, 255);
    font-size: 11px;
}

.check-input-field input{
    align-items: center;
    margin-left: 10px;
}

.submit-button {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(114, 193, 114);
    border: 1px solid transparent;
}

.submit-button:hover {
    background-color: rgb(98, 178, 98);
    border: 1px solid transparent;
}

.go-back {
    color: rgb(114, 193, 114);
    cursor: pointer;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 20px;

}

.go-back:hover {
    color: rgb(98, 178, 98);
    text-decoration: underline;
}

.cancel-button {
    background-color: rgb(175, 62, 62);
    border: 1px solid rgb(175, 62, 62);
}

.cancel-button:hover {
    background-color: rgb(145, 52, 52);
    border: 1px solid rgb(145, 52, 52);
}