<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forms</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/forms.css">
</head>

<body>

    <div class="form-container">

        <div class="img-container"><img src="/static/infotechlogo.png"></div>
        
        <form action="/acta-servicios" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="exampleInputEmail1">Fecha de Servicio</label>
                <input type="date" class="form-control" name="fservicio" aria-describedby="emailHelp">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Nombre del Ingeniero/Técnico</label>
                <input type="text" class="form-control" name="ning" aria-describedby="emailHelp">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Nombre del Cliente</label>
                <input type="text" class="form-control" name="nclient" aria-describedby="emailHelp">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Sede</label>
                <input type="text" class="form-control" name="sede" aria-describedby="emailHelp">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Nombre de Usuario</label>
                <input type="text" class="form-control" name="nuser" aria-describedby="emailHelp">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Telefono</label>
                <input type="text" class="form-control" name="tel" aria-describedby="emailHelp">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Ticket</label>
                <input type="text" class="form-control" name="ticket" aria-describedby="emailHelp">
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Motivo del Servicio</label>
                <textarea class="form-control" name="mservice" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Diagnostico</label>
                <textarea class="form-control" name="diagnostico" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label for="exampleFormControlFile1">Evidencia</label>
                <input type="file" class="form-control-file" name="evidencia" accept="image/*" multiple>
            </div>

            <div class="form-group">
                <label for="exampleFormControlFile1">Evaluación del Servicio</label>
                <table class="table">
                    <thead>
                        <tr>
                            <th style="text-align: center;" class="sub-title" scope="col"></th>
                            <th style="text-align: center;" scope="col">Excelente</th>
                            <th style="text-align: center;" scope="col">Bueno</th>
                            <th style="text-align: center;" scope="col">Regular</th>
                            <th style="text-align: center;" scope="col">Malo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="sub-title" style="background-color: rgb(243, 243, 243);">La solución de su solicitud fue satisfactoria</td>
                            <td class="check-input-field"><input class="form-check-input" type="radio" name="satisfaccion" id="exampleRadios1" value="1" ></td>
                            <td class="check-input-field"><input class="form-check-input" type="radio" name="satisfaccion" id="exampleRadios1" value="2" ></td>
                            <td class="check-input-field"><input class="form-check-input" type="radio" name="satisfaccion" id="exampleRadios1" value="3" ></td>
                            <td class="check-input-field"><input class="form-check-input" type="radio" name="satisfaccion" id="exampleRadios1" value="4" ></td>
                        </tr>
                        <tr>
                            <td class="sub-title" style="background-color: rgb(243, 243, 243);">Tiempo de respuesta del servicio</td>
                            <td class="check-input-field"><input class="form-check-input" type="radio" name="tiempo_respuesta" id="exampleRadios1" value="1" ></td>
                            <td class="check-input-field"><input class="form-check-input" type="radio" name="tiempo_respuesta" id="exampleRadios1" value="2" ></td>
                            <td class="check-input-field"><input class="form-check-input" type="radio" name="tiempo_respuesta" id="exampleRadios1" value="3" ></td>
                            <td class="check-input-field"><input class="form-check-input" type="radio" name="tiempo_respuesta" id="exampleRadios1" value="4" ></td>
                        </tr>
                        <tr>
                            <td class="sub-title" style="background-color: rgb(243, 243, 243);">Cómo califica la calidad técnica</td>
                            <td class="check-input-field"><input class="form-check-input" type="radio" name="calidad_tecnica" id="exampleRadios1" value="1" ></td>
                            <td class="check-input-field"><input class="form-check-input" type="radio" name="calidad_tecnica" id="exampleRadios1" value="2" ></td>
                            <td class="check-input-field"><input class="form-check-input" type="radio" name="calidad_tecnica" id="exampleRadios1" value="3" ></td>
                            <td class="check-input-field"><input class="form-check-input" type="radio" name="calidad_tecnica" id="exampleRadios1" value="4" ></td>
                        </tr>
                        <tr>
                            <td class="sub-title" style="background-color: rgb(243, 243, 243);">Cómo califica la calidad humana</td>
                            <td class="check-input-field"><input class="form-check-input" type="radio" name="calidad_humana" id="exampleRadios1" value="1" ></td>
                            <td class="check-input-field"><input class="form-check-input" type="radio" name="calidad_humana" id="exampleRadios1" value="2" ></td>
                            <td class="check-input-field"><input class="form-check-input" type="radio" name="calidad_humana" id="exampleRadios1" value="3" ></td>
                            <td class="check-input-field"><input class="form-check-input" type="radio" name="calidad_humana" id="exampleRadios1" value="4" ></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>